<!--NAVBAR-->
<div class="fixed-top container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white">
  
      <a class="navbar-brand" href="#Inicio">TEST-CHILE S.A.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active"><a class="nav-link" href="/Home">Inicio <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/servicio">solicitar servicio</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.google.cl">Salir</a></li>
      </ul>
    </div>
  </nav>
</div>

<table class="table container">
    <h2 class="mt-5">Lista de equipos</h2>
  <thead>
      <tr>
      <th scope="col">codigo equipo</th>
      <th scope="col">nombre equipo</th>
      <th scope="col">modelo</th>
      <th scope="col">estado_equipo</th>
    </tr>
  </thead>
  
  <tbody id="cuerpo">
      {{#each clientes}}
        <tr>
          <td>{{this.codigo_equipo}}</td>
          <td>{{this.nombre_equipo}}</td>
          <td>{{this.modelo}}</td>
          <td>{{this.estado_equipo}}</td>
        </tr>
      {{/each}}
  </tbody>
</table>