<table class="table">
    <h2>Lista de servicios clientes</h2>
    <hr>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre equipo</th>
      <th scope="col">codigo equipo</th>
      <th scope="col">modelo</th>
      <th scope="col">estado equipo</th>
    </tr>
  </thead>

  <!--
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nivel</td>
      <td>AA</td>
      <td>AA</td>
    </tr>
    
    <tr>
      <th scope="row">2</th>
      <td>Densimetro nuclear</td>
      <td>BB</td>
      <td>BB</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CC</td>
      <td>CC</td>
      <td>CC</td>
    </tr>
  </tbody>
</table>
-->

