<!--NAVBAR-->
<div class="fixed-top container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white">
  
      <a class="navbar-brand" href="#Inicio">TEST-CHILE S.A.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active"><a class="nav-link" href="#Inicio">Inicio <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#empresa">Salir</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="py-5 container">
  <h2>Iniciar Sesión</h2>
  
    <div class="form-group border">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control w-50 m-auto" id="email" type="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control w-50 m-auto" id="password" type="password">
      </div>
   
      <button class="btn btn-light mb-3" onclick="login()">Ingresar</button>

    </div>
</div>

<script>
  async function login() {
    try {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      let payload = { email, password }
      const { data } = await axios.post("api/login" , payload);
      alert("usuario ingresado con exito");
      console.log(data)
      localStorage.setItem("user", JSON.stringify(data.cliente));
      localStorage.setItem("token", data.token);
      axios.defaults.headers.common['Authorization'] = localStorage.getItem("token");
      window.location.href = '/servicio';
      
      console.log(response.data);
      //window.location.href = "/Servicio?token=" + datatoken;
    } catch (error) {
      console.log(error)
    }
  }
</script>


  
  
  

